@import{
  font-family:'digital-7';
  src: url('http://www.fontspace.com/style-7/digital-7?text=');
}

.trigger{
  width:3vw;
  height:.5px;
  background-color:red;
}

.OPtrigger{
  width:3vw;
  height:.5px;
  background-color: yellow;
}

#ignition{
  height: 1vw;
}

/*Power Button*/
.wrapper {
  width: 80px;
  padding: 20px;
  border-radius: 50%;
  background-color: #363636;
  margin: auto;

  z-index:11;
}

.toggle {
  display: none;
}

.powerBtn {
  box-sizing: border-box;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-color: rgb(83,87,93);
  transition: all .2s linear;
  box-shadow: 0 1px 0 3px rgb(34,34,34), 0 7px 10px 0 rgb(17,17,17), inset 0 1px 1px 0 rgba(250,250,250,.2), inset 0 -12px 35px 0 rgba(0,0,0,.5);
}

.toggle:checked + label {
  transition: all .2s linear;
  box-shadow: 0 0 0 0 rgb(34,34,34), 0 3px 7px 0 rgb(17,17,17), inset 0 1px 1px 0 rgba(250,250,250,.2), inset 0 -10px 35px 5px rgba(0,0,0,.4);
  background-color: rgb(83,87,93);
}

.powerBtn-light {
  margin: auto;
  width: 30px;
  height: 30px;
  border: 6px solid red;
  position : absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 4px 0 #999999;
  transition: all .1s ease-in-out;
}

.powerBtn-light:before {
  content: '';
  display: block;
  width: 7px;
  height: 24px;
  margin: auto;
  border-style: solid;
  border-width: 0 3px 0;
  border-color: rgb(83,87,93);
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  background: red;
  box-shadow: inherit;
  border-radius: 10px;
  z-index: 3;
  transition: all .2s ease-in-out;
}

.toggle:checked + .powerBtn .powerBtn-light {
  border: 6px solid rgb(50,205,50);
  transition: all .1s linear;
}

.toggle:checked + .powerBtn .powerBtn-light:after {
  box-shadow: 0 0 5px 0 #666666;
}

.toggle:checked + .powerBtn .powerBtn-light:before {
  background: rgb(50,205,50);
  transition: all .1s linear;
}
/*End Power Button*/

#turnBox{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2%;
  margin: 43.5%;
  height: 3vw;
  width: 12vw;
  border-radius: 30%;

  background-color: black;
  border: 1.5px solid grey;
  font-family: digital-7;
  color: #66ff66;
  font-size:1.8em;
  z-index: 1;
}

body{
	background-color: silver;
  height: 100%;
  width: 99vw;
  z-index: 0;
}

footer{
  background-color: #FFFFFF;
  padding: 0em;
}

.container{
	display: flex;
  height: 50%;
	width: 100%;
}

.box1{
  order: 2;
	flex: 3;
  padding-top: .5vw:

  text-align: center;
  background-color: black;
  color: black;
}

.box2{
  order: 2;
	flex: 3;
  padding-top: .5vw;

  text-align: center;
  background-color: black;
  color: black;
}

@-webkit-keyframes shakeMe {
        0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shakeMe{
	-webkit-animation-name: shakeMe;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

/*.shakeme {
	display:inline-block
}*/

.combatLog{
  display: flex;
  align-content: column;
  justify-content: flex-start;
  width: auto;
  height: 11vw;

  overflow: auto;
  background-color: black;
  color: white;
  font-family: digital-7;
  color: #66ff66;
}

#OPLog{
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

/*Quadrant Box*/
.Q{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2vw;

  font-family: 'digital-7';
}

/*Stat Windows*/
#OPhealth{
  display: flex;
  justify-content:flex-end;
}

.status1{
  display: flex;
	order: 1;
  flex: 2;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content:flex-end;

  padding-bottom: 2em;
	background-color: blue;
}

.status2{
  display: flex;
	order: 3;
  flex: 2;
  flex-wrap: wrap;
  /*justify-content: flex-end;*/
  align-content: flex-start;

	background-color: red;
}

.box1, .box2, .box3{
	padding: 0em;
}

h4{
  margin:2px;
}

/* CHIPS */
.chip{
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: .6vw;

  background-color: black;
  border: 1.5px solid grey;
  font-family: digital-7;
  color: #66ff66;
  z-index: 1;
  /*border: 0em;*/
  padding: .2em 2em;
  /*border-radius: 2em;*/
}

.OPchip{
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: .6vw;

  background-color: black;
  border: 1.5px solid grey;
  font-family: digital-7;
  color: #66ff66;
  z-index: 1;
  /*border: 0em;*/
  padding: .2em 2em;
  /*border-radius: 2em;*/

}

.input{
  display:flex;
  /*justify-content: space-around;*/
  background: blue;
  padding: 1em;
}

.input2{
  display: flex;
  background: red;
  padding: 1em;
}

/*Text color*/
.offline{
  cursor: pointer;
  color: red;
}

.yellow{
  cursor: pointer;
  color:#F5F533;
}

.green{
  cursor: pointer;
  color:#66ff66;
}

#safetyOff{
  cursor: pointer;
  background-color: #66ff66;
}

#safetyOn{
  background-color: red;
}

/*Aiming Panes*/
.reticle{
  display: flex;
  top:0;
  flex-direction:row;
  flex-wrap:wrap;
  height: 490px;
  width: 370px;
  /*background-image: url('./images/rutger.jpg');*/
  background-image: url('file:///Users/Drone/Documents/Workshop/aRmed/website.assets/images/rutger.jpg');
  z-index:10;
}

/*Aim controls*/
#aim1{
  display:flex;
  position: relative;
  height: 245px;
  width: 185px;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity .35s ease-in-out;

  justify-content:center;
  align-items:center;
  font-size:10em;
  color: gray;
  z-index:10;
}
#aim2{
  display:flex;
  position: relative;
  height: 245px;
  width: 185px;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity .35s ease-in-out;

  justify-content:center;
  align-items:center;
  font-size:10em;
  color: gray;
  z-index:10;
}
#aim3{
  display:flex;
  position: relative;
  height: 245px;
  width: 185px;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity .35s ease-in-out;

  justify-content:center;
  align-items:center;
  font-size:10em;
  color: gray;
  z-index:10;
}
#aim4{
  display:flex;
  position: relative;
  height: 245px;
  width: 185px;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity .35s ease-in-out;

  justify-content:center;
  align-items:center;
  font-size:10em;
  color: gray;
  z-index:10;
}
#aim1:hover{
  opacity:.25;
}
#aim2:hover{
  opacity:.25;
}
#aim3:hover{
  opacity:.25;
}
#aim4:hover{
  opacity:.25;
}

.reticleSelect{
  background-color: lightblue;
  opacity:.25;
}

.healthSpan{
  display:flex;
  border: .1em solid grey;
  height:.7em;
  width:1em;
  background-color: #66ff66;
}

.spacer{
  display:flex;
  border: .1em solid black;
  height:.7em;
  width:1em;
  background-color: black;
}

.yellowSpan{
  display:flex;
  border: .1em solid grey;
  height:.7em;
  width:1em;
  background-color: yellow;
}
