.trigger{
  width:3vw;
  height:.5px;
}

#ignition{
  height: 1vw;
}

body{
	/*padding-right: 3em;*/
	background-color: silver;
  /*margin:0em;*/
  height: 100%;
  width: 99vw;
}

footer{
  background-color: #FFFFFF;
  padding: 0em;
}

header{
	background-color: #FFFFFF;
	padding: 1.5em;
}

.container{
	display: flex;
  height: 50%;
	width: 100%;
}

.box1{
  order: 2;
	flex: 3;

  text-align: center;
  background-color: #62626D;
}

/*Quadrant Box*/
.Q{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2vw;

  font-family: 'digital';
}

/*Stat Windows*/
#OPhealth{
  display: flex;
  display: block;
  justify-content:flex-end;
}

.status1{
  display: flex;
	order: 1;
  flex: 2;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content:flex-end;

  padding-bottom: 2em;
	background-color: green;
}

.status2{
  display: flex;
	order: 3;
  flex: 2;
  flex-wrap: wrap;
  /*justify-content: flex-end;*/
  align-content: flex-start;

	background-color: red;
}

.box1, .box2, .box3{
	padding: 0em;
}

h4{
  margin:2px;
}

/* CHIPS */
.chip{
  display:flex;
  justify-content: space-between;
  width: 80%;
  color:white;
  background-color: grey;
  border: 0em;
  padding: .2em 2em;
  border-radius: 2em;

}

.OPchip{
  display:flex;
  justify-content: space-between;
  width: 80%;
  color:white;
  background-color: grey;
  border: 0em;
  padding: .2em 2em;
  border-radius: 2em;

}

.input{
  display:flex;
  /*justify-content: space-around;*/
  background: green;
  padding: 1em;
}

.input2{
  display: flex;
  background: red;
  padding: 1em;
}
