.box1{
  color: white;
  padding: .3vw;
}

.div{
  display: flex;
  flex-direction: column;
  width:30vw;
}

#aRm{
  display: flex;
  padding: .5vw;
  margin-top: .5vw;
  text-align: center;
}

#Q{
  display: flex;
  justify-content: center;
  padding:.25vw;

  /*margin:1vw;*/
  margin-top: 1.75vw;
  margin-bottom: .5vw;
  outline: .2vw solid grey;
  background-color: grey;
  color: white;
}

.top{
  margin-top: 1vw;
}

form > span{
  display: flex;
  justify-content: space-between;
}

#submit{
  display: flex;
  border-radius: 2em;
  /*justify-content: center;
  align-content:center;*/
  margin-top: 2vw;
  margin-left: 42%;

  background-color: black;
  border: 1.5px solid grey;
  font-family: digital-7;
  color: #66ff66;
  font-size:1em;
  z-index: 1;
}

#submit:hover{
  cursor: pointer;
}

#preMade{
  display: flex;
  border-radius: 2em;
  /*justify-content: center;
  align-content:center;*/
  margin-top: 6.39vw;
  margin-left: 42%;

  background-color: black;
  border: 1.5px solid grey;
  font-family: digital-7;
  color: #66ff66;
  font-size:1em;
  z-index: 1;
}

#preMade:hover{
  cursor: pointer;
}

input{
  display: flex;
}
