/*Icon fade in and out*/
@-webkit-keyframes icon{
    0%  { opacity: 0; }
    15% { opacity: 0; }
    40% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
  }

.icon{
  -webkit-animation-name: icon;
  -webkit-animation-duration: 14.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

/*arrowStrafe*/
@-webkit-keyframes arrowStrafe{
        0% { -webkit-transform: translate(0px, 0px); }
	10% { -webkit-transform: translate(0px, 90px); }
	20% { -webkit-transform: translate(0px, 180px); }
	30% { -webkit-transform: translate(0px, 270px); }
	40% { -webkit-transform: translate(0px, 360px); }
	50% { -webkit-transform: translate(0px, 450px); }
	60% { -webkit-transform: translate(0px, 360px); }
	70% { -webkit-transform: translate(0px, 270px); }
	80% { -webkit-transform: translate(0px, 180px); }
	90% { -webkit-transform: translate(0px, 90px); }
	100% { -webkit-transform: translate(0px, 0px); }
}

.arrowStrafe{
  -webkit-animation-name: arrowStrafe;
  -webkit-animation-duration: 5s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/*arrowPulse*/
@-webkit-keyframes arrowPulse{
    0% { -webkit-transform: translate(0px, 0px); }
  	50% { -webkit-transform: translate(20px, 0px); }
  	100% { -webkit-transform: translate(0px, 0px); }
}

.arrowPulse{
  -webkit-animation-name: arrowPulse;
  -webkit-animation-duration: 2.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/*transfer*/
@-webkit-keyframes transfer{
    0%  { -webkit-transform: translate(0px, 0px) scale(1); }
  25%   { -webkit-transform: translate(0px, -30.5px) scale(-.5);}
  37.5% { -webkit-transform: translate(27.5px, -30.65px);}
  50%   { -webkit-transform: translate(55px, -30.65px) scale(1);}
  62.5% { -webkit-transform: translate(82.5px, -30.65px);}
  75%   { -webkit-transform: translate(110px,-30.65px) scale(-.5);}
  87.5% { -webkit-transform: translate(110px,-10.65px);}
  100%  { -webkit-transform: translate(110px, 1px) scale(1);}
}

.charge{
  -webkit-animation-name: transfer;
  -webkit-animation-duration: 3s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/*Strobe effect*/
@-webkit-keyframes strobe{
  0%   {color: red;}
  33%  {color: black;}
  66%  {color: red;}
  99%  {color: black;}
  100% {color: red;}
}

  .strobe{
    -webkit-animation-name: strobe;
    -webkit-animation-duration: 2s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-timing-function: linear;
  }
